/* GLOBAL
-------------------------------------------------------------------  */

:root {
  --primary-color: rgb(26, 115, 232);
  --primary-darker-color: rgb(66, 133, 244);
  --secondary-color: rgb(232, 240, 254);
  --white-color: #fff;
  --border-color: rgb(218, 220, 224);
  --light-grey-color: rgb(241, 243, 244);
  --dark-grey-color: rgb(60, 64, 67);
  --error-color: rgb(217, 48, 37);
  --thin-border: 1px solid var(--border-color);
  --border-radius: 5px;
  font-size: 18px;
  font-weight: 300;
  height: 100%;
}
* {
  font-family: "Roboto", sans-serif;
}
body {
  height: 100%;
}

button,
a {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
i {
  font-weight: 400;
  color: var(--dark-grey-color);
}

a {
  color: var(--primary-color);
}

a:hover {
  text-decoration: underline;
}

/* MAIN LAYOUT
-------------------------------------------------------------------  */
header {
  height: 5%;
  min-height: 34px;
  border-bottom: var(--thin-border);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
}

main {
  display: grid;
  grid-template-columns: 1fr 4fr;
  overflow: hidden;
  height: 95%;
}

aside {
  padding: 0.5rem;
}
/* BUTTONS
-------------------------------------------------------------------  */
.navigation-btn {
  color: var(--dark-grey-color);
  border-radius: 50%;
  text-align: center;
}

.navigation-btn.week {
  height: 30px;
  width: 30px;
}

.navigation-btn.month {
  height: 25px;
  width: 25px;
}

.navigation-btn:hover {
  background-color: var(--light-grey-color);
}

.plain-btn {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  padding: 8px 15px;
}

.plain-btn:hover {
  background-color: var(--light-grey-color);
}

/* MAIN CALENDAR - WEEK GRID
-------------------------------------------------------------------  */
.week-grid {
  display: grid;
  grid-template-columns: 50px repeat(7, 1fr);
  height: 100%;
  overflow: auto;
}

.week-grid .column {
  display: flex;
  flex-direction: column;
  border: var(--thin-border);
}

.week-grid .cell {
  border-right: var(--thin-border);
  border-bottom: var(--thin-border);
  height: 60px;
  text-align: center;
  padding: 0.2rem;
}

.week-grid .header-cell {
  height: 70px;
  border-bottom: var(--thin-border);
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--white-color);
  text-align: center;
  font-size: 11px;
}

.week-grid .header-cell time {
  font-weight: 500;
  color: var(--dark-grey-color);
}

.week-grid .header-cell time span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  height: 50px;
  width: 50px;
  margin: 0 auto;
  font-weight: 300;
}

.week-grid .header-cell.current-day time span {
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 50%;
}

.week-grid .cell.time-cell {
  font-size: 10px;
  border: none;
  display: flex;
  align-items: end;
  justify-content: end;
  border-right: var(--thin-border);
  padding: 0;
}

.week-grid .cell.time-cell span {
  position: relative;
  bottom: -5px;
  padding-right: 17px;
}

.week-grid .cell.time-cell span::after {
  content: "";
  border-bottom: var(--thin-border);
  position: absolute;
  width: 10px;
  bottom: 5px;
  right: 0;
}
/* WEEK GRID NAVIGATION ELEMENTS
-------------------------------------------------------------------  */

.week-grid-nav {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* MINI CALENDAR - MONTH GRID
-------------------------------------------------------------------  */

@keyframes addHighlit {
  from {
    background-color: white;
    color: var(--dark-grey-color);
  }

  to {
    background-color: var(--secondary-color);
    color: var(--primary-darker-color);
  }
}

.month-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 3px;
}

.month-grid .cell {
  height: 35px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--dark-grey-color);
  transition: all 0.5s;
}

.month-grid button.cell:hover {
  background-color: var(--secondary-color);
}

.month-grid .cell.current-month {
  font-weight: 500;
  color: var(--dark-grey-color);
}

.month-grid .cell.highlited-day:not(.current-day) {
  animation: addHighlit 0.5s forwards;
}

.month-grid .cell.current-day {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.month-grid-nav {
  display: flex;
  justify-content: space-between;
}
