/* GLOBAL
-------------------------------------------------------------------  */

:root {
  --primary-color: #0d7874;
  --primary-lighter-color: #679289;
  --secondary-color: #f4c095;
  --white-color: #fefefe;
  --border-color: #e4e4e4;
  --black-color: #071e22;
  --error-color: #ee2e31;
  --thin-border: 1px solid var(--border-color);
  --border-radius: 5px;
  font-size: 18px;
  font-family: "Karla", sans-serif;
  font-weight: 300;
  height: 100%;
}
body {
  height: 100%;
}

button,
a {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
i {
  color: var(--black-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

a {
  color: var(--primary-color);
}

a:hover {
  text-decoration: underline;
}

/* MAIN LAYOUT
-------------------------------------------------------------------  */
header {
  height: 5%;
  min-height: 34px;
  border-bottom: var(--thin-border);
}

main {
  display: grid;
  grid-template-columns: 1fr 4fr;
  overflow: hidden;
  height: 95%;
}

aside {
  border-right: var(--thin-border);
}
/* BUTTONS
-------------------------------------------------------------------  */
.week-grid-navigation-btn {
  background-color: var(--primary-lighter-color);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
}

.week-grid-navigation-btn:hover {
  background-color: var(--primary-color);
}

.week-grid-navigation-btn .arrow {
  border: solid var(--white-color);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
}

.week-grid-navigation-btn .arrow.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.week-grid-navigation-btn .arrow.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

/* WEEK GRID
-------------------------------------------------------------------  */
#week-grid {
  display: grid;
  grid-template-columns: 50px repeat(7, 1fr);
  height: 100%;
  overflow: auto;
}

#week-grid .day-column {
  display: flex;
  flex-direction: column;
  border: var(--thin-border);
}

#week-grid .cell {
  border-right: var(--thin-border);
  border-bottom: var(--thin-border);
  height: 60px;
  text-align: center;
  padding: 0.2rem;
}

#week-grid .cell:first-child {
  background-color: var(--white-color);
  position: sticky;
  top: 0;
  z-index: 1;
}

#week-grid .cell.current-day-header {
  background-color: var(--primary-color);
}

#week-grid .cell.current-day-header > * {
  color: var(--white-color);
}

#week-grid .cell.time-cell {
  font-size: 0.8rem;
  border: none;
  display: flex;
  align-items: end;
  justify-content: end;
  position: relative;
  border-right: var(--thin-border);

  ::after {
    content: "";
    border-bottom: var(--thin-border);
    position: absolute;
    width: 20px;
    bottom: 0;
    right: 0;
  }
}
