/* GLOBAL
-------------------------------------------------------------------  */

:root {
  --primary-color: #0d7874;
  --primary-lighter-color: #679289;
  --secondary-color: #f4c095;
  --white-color: #fefefe;
  --border-color: #e4e4e4;
  --black-color: #071e22;
  --error-color: #ee2e31;
  --thin-border: 1px solid var(--border-color);
  --border-radius: 5px;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
i {
  color: var(--black-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

p {
  font-family: "Karla", sans-serif;
  font-weight: 300;
}

a {
  color: var(--primary-color);
  border: var(--thin-border);
}

a:hover {
  text-decoration: underline;
}

/* WEEK GRID
-------------------------------------------------------------------  */
#week-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.day-column {
  display: flex;
  flex-direction: column;
  border: var(--thin-border);
}

.cell {
  border: var(--thin-border);
  height: 50px;
}

.cell.current-day-header {
  background-color: var(--primary-color);
  color: var(--white-color);
}
